[Desktop Entry]
Version=1.0
Name=BITCOINHEDGE Core
Comment=BITCOINHEDGE P2P Cryptocurrency
Comment[fr]=BITCOINHEDGE, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BITCOINHEDGE, eşten eşe kriptografik sanal para birimi
Exec=bitcoinhedge-qt %u
Terminal=false
Type=Application
Icon=bitcoinhedge128
MimeType=x-scheme-handler/bitcoinhedge;
Categories=Office;Finance;
StartupWMClass=BITCOINHEDGE-qt
