
## <summary>policy for bitcoinhedge</summary>


########################################
## <summary>
##	Transition to bitcoinhedge.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`bitcoinhedge_domtrans',`
	gen_require(`
		type bitcoinhedge_t, bitcoinhedge_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, bitcoinhedge_exec_t, bitcoinhedge_t)
')


########################################
## <summary>
##	Execute bitcoinhedge server in the bitcoinhedge domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoinhedge_initrc_domtrans',`
	gen_require(`
		type bitcoinhedge_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, bitcoinhedge_initrc_exec_t)
')


########################################
## <summary>
##	Search bitcoinhedge lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoinhedge_search_lib',`
	gen_require(`
		type bitcoinhedge_var_lib_t;
	')

	allow $1 bitcoinhedge_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read bitcoinhedge lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoinhedge_read_lib_files',`
	gen_require(`
		type bitcoinhedge_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, bitcoinhedge_var_lib_t, bitcoinhedge_var_lib_t)
')

########################################
## <summary>
##	Manage bitcoinhedge lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoinhedge_manage_lib_files',`
	gen_require(`
		type bitcoinhedge_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, bitcoinhedge_var_lib_t, bitcoinhedge_var_lib_t)
')

########################################
## <summary>
##	Manage bitcoinhedge lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoinhedge_manage_lib_dirs',`
	gen_require(`
		type bitcoinhedge_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, bitcoinhedge_var_lib_t, bitcoinhedge_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a bitcoinhedge environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`bitcoinhedge_admin',`
	gen_require(`
		type bitcoinhedge_t;
		type bitcoinhedge_initrc_exec_t;
		type bitcoinhedge_var_lib_t;
	')

	allow $1 bitcoinhedge_t:process { ptrace signal_perms };
	ps_process_pattern($1, bitcoinhedge_t)

	bitcoinhedge_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 bitcoinhedge_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, bitcoinhedge_var_lib_t)

')

